@model Product


<div class="card">
    <h5 class="card-header">@Model.Name</h5>
    <div class="card-body">
       <div class="row">
            <div class="col-2 mx-2">
                <img src="@Model.ImageUrl" width="100%" alt="@Model.Name" />
            </div>
            <div class="col">
                <h5 class="card-title"><strong>@Model.Name</strong></h5>
                <p class="card-text">@Model.Description</p>
                <a asp-action="Index" class="btn btn-primary">Go Back</a>
            </div>
       </div>
    </div>
</div>